.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.task-input {
  display: flex;
  gap: 15px;
}
.btn {
  padding: 5px 20px;
  background-color: #2980b9;
  color: white;
  border: 1px solid #2980b9;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.task-list {
  list-style: none;
  padding: 0;
}
.task-list li {
  width: 250px;
  margin: 5px 5px;
  padding: 3px;
}
.task {
  display: flex;
  border-bottom: 1px solid #2980b9;
}
.delete-icon {
  margin-top: 9px;
  color: #e82f19;
  cursor: pointer;
}
