.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.task-input {
  display: flex;
  gap: 15px;
}
.btn {
  padding: 5px 20px;
  background-color: #2980b9;
  color: white;
  border: 1px solid #2980b9;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.task-list {
  list-style: none;
}
.task-list li {
  margin: 5px 5px;
  padding: 3px;
}
